#chart-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#chart {
    position: absolute;
    top: 42px;
    bottom: 0;
    left: 0;
    right: 0;
}

#date-button {
	margin-left: 0;
	margin-right: 0;
}
